/* ******HEADER***** */

#delicious{
  position: absolute;
  left: 6%;
  font-weight: bolder;
}

#blog{
  font-size: small;
  color: grey;
  position: absolute;
  left: 6%;
  top: 5%;
}

#small{
  position: absolute;
  left: 3%;
  top: 3%;
  width: 3%;
}

#social{
  position: absolute;
  right: 15%;
  top: 5%;
}

#mail{
  position: absolute;
  right: 10%;
  top: 5%;
}

/* *****main***** */

body{
  background-image: url("img/hr-img.png");
  background-repeat: repeat-x;
  
}

#pizza{
  position: absolute;
  top: 10%;
  left: 22%;
}
#text{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#453728;
  position: absolute;
  top: 700px;

}
#container{
  position:relative;
  text-align: left;
  color: white;
  top: 1000px;
  width:120%;
}
#list1{
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  list-style-type:square;
  color:#453728;
  display:inline-block;
  position: absolute;
  bottom:70px;
  left: 30px;
  top: 50px;
  
  }

#list2{
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align:left;
  list-style-type: square;
  color:#453728;
  display:inline-block;
  position: absolute;
  top: 50px;
  right: 1350px;
  bottom: 70px;
}

#border{
  height: 30px;
  background-image: url(img/hr-img.png);
  background-repeat:repeat-x; 
  background-position: center;
  position: relative;
  top: 1150px;
  bottom: 10px;
}

#vanessa img{
  float: left;
  position: absolute;
  top: 155px;
  bottom: 100px;
}

#vanessa h3{
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight:bold;
  color:#453728;
  position: absolute;
  top: 140px;
  margin-bottom: 50px;
  left: 100px;
}

#vanessa p{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#453728;
  position: absolute;
  top: 180px;
  left: 100px;
}

#share{
  position: absolute;
  top: 90px;
  left: 400px;
}

footer{
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color:rgb(54, 53, 53);
  position: absolute;
  top: 2000px;
  bottom: 140px;
  padding: 100px;
  margin-bottom: 50px;
  left: 500px;
}

footer img{
  text-align: center;
  margin: 10px;
  position: absolute;
  margin-bottom: 250px;
  left: 180px;
  top: 5px;
}
